
/* Universal Styles */
html {
  font-size: 18px;
  font-family: Helvetica;
}

/* Header */
#header {
  background-color: black;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

#logo {
  width: 960px;
  display: flex;
  align-items: center;
  margin: auto;
}

#logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

#logo h3 {
  color: white;
  font-size: 1rem;
}
