
/* Universal Styles */
html {
  font-size: 18px;
  font-family: Helvetica;
}

.container {
  width: 960px;
  margin: auto;
}

/* Header */
#header {
  background-color: black;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

#logo h3 {
  color: white;
  font-size: 1rem;
}

/* Banner */
#banner {
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#bannertext {
  color: white;
  font-weight: bold;
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  margin-top: 9rem;
}

#bannertext h3 {
  font-size: 1rem;
}

#bannertext h1 {
  font-size: 2rem;
}
